body {
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;




}

/* input number  hide arrows*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* input number  hide arrows*/
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.navbar-icon {
    font-size: 4rem;
    color: white;
}


#barcodesinput,
#barcodes {
    display: none;
}

.qrReaderSection {
    display: block;
    overflow: hidden;
}

.qrReaderSectionRow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inputPluParent {
    display: flex;
    justify-content: center;

}

.inputPluParent>input {
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: 2rem;
}

#barcodesinputWithContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}


.parentOfCanvasRow {
    overflow: hidden;
    width: 100vw;

}

.wrapCanvas {
    display: flex;
    justify-content: center;
}

#canvas {
    height: 640px/2;
    width: 480px/2;
}

.row {
    --bs-gutter-x: 0rem;
}

.buttonStartScanParent {
    display: flex;
    justify-content: center;
    align-items: center;
}

#startScan {
    height: 15vh;
    font-size: 1.5rem;
}

.listDetectedCameraParent {
    display: flex;
    align-items: center;
    justify-content: center;
}

#listDetectedCamera {
    width: 40%;

}

@media (max-width: 1000px) {
    .dataUpdateButton {
        display: none;
    }
}

.alertElementFreeFile {
    display: none;
}

.viewSendButton:hover {
    cursor: pointer;
}

/* php/answear */

.answearDiv {
    padding: 5px;
    font-size: 1.2rem;
}


.eanVerificationFalse {
    font-size: 1.5rem;
}


/* php./panel_log */

.background-login {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,207cca+18,7db9e8+68 */
    background: #1e5799;
    /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #207cca 18%, #7db9e8 68%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1e5799 0%, #207cca 18%, #7db9e8 68%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1e5799 0%, #207cca 18%, #7db9e8 68%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=0);
    /* IE6-9 */

}

/* create account */
.alertDangerCreateAccount {
    display: none;

}