body {
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.navbar-icon {
    font-size: 4rem;
    color: white;
}


#barcodesinput,
#barcodes {
    display: none;
}

.qrReaderSection {
    display: block;
    overflow: hidden;
}

.qrReaderSectionRow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inputPluParent {
    display: flex;
    justify-content: center;

}

.inputPluParent>input {
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: 2rem;
}

#barcodesinputWithContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}


.parentOfCanvasRow {
    overflow: hidden;
    width: 100vw;

}

.wrapCanvas {
    display: flex;
    justify-content: center;
}

#canvas {
    height: 640px/2;
    width: 480px/2;
}

.row {
    --bs-gutter-x: 0rem;
}

.buttonStartScanParent {
    display: flex;
    justify-content: center;
    align-items: center;
}

#startScan {
    height: 15vh;
    font-size: 1.5rem;
}

.listDetectedCameraParent {
    display: flex;
    align-items: center;
    justify-content: center;
}

#listDetectedCamera {
    width: 40%;

}

@media (max-width: 1000px) {
    .dataUpdateButton {
        display: none;
    }
}

.alertElementFreeFile {
    display: none;
}

.viewSendButton:hover {
    cursor: pointer;
}

/* php/answear */

.answearDiv {
    padding: 5px;
    font-size: 1.2rem;
}


.eanVerificationFalse {
    font-size: 1.5rem;
}