body {
    width: 100%;
    height: 100vh;
}

.navbar-icon {
    font-size: 4rem;
    color: white;

}


#barcodesinput,
#barcodes {
    display: none;
    /* visibility: hidden; */
}

.qrReaderSection {
    display: none;

}

.qrReaderSectionRow {
    /* overflow: hidden; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inputPluParent {
    display: flex;
    justify-content: center;

}

.inputPluParent>input {
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: 2rem;

}

.parentOfCanvas {
    display: flex;
    align-items: center;
    justify-content: center;
}


.parentOfCanvasTrue {
    overflow: hidden;
    /* width: 100%; */
}

/* .borderParentOfCanvas {
    border: 1px solid rgb(20, 233, 27) !important;
} */

#canvas {
    width: 300px;
    height: 300px;
}

.row {
    --bs-gutter-x: 0rem;
}

.buttonStartScanParent {
    display: flex;
    justify-content: center;
    align-items: center;
    /* vertical-align: middle; */
}

#startScan {
    height: 15vh;
    font-size: 1.5rem;
}